@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Source+Code+Pro:wght@700&display=swap');

*{
  padding: 0px; 
  margin: 0px;  /* Pagina Geral */
  box-sizing: border-box;} 

a {
  color: white;
  text-decoration: none; }

label[for="bt_menu"]{
  padding: 5px;
  background-color: #5429CF;  
  color: #Fff;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  width: 50px;
  height: 50px; }
  
#bt_menu{
  display: none; }

label[for="bt_menu"]{

  display: none; }

body { 
  font-family: Arial, Helvetica, sans-serif; 
  background-color: #181818; }

h3 {
  color: #Fff;}
  
h1,h4 {
font-family: helvetica,Arial;
color: black;} 

.menu ul {
  padding: 0;
  background-color:rgb(32, 32, 32);
  list-style:none; } /* tirei os traço do menu */
#portifolio {
  color: rgb(255, 255, 255);
  font-family: 'Source Code Pro', monospace;
  font-size: 16pt;
  margin-left: 5%;
  margin-top: 40px;}
.menu ul li { 
  display: inline; } /* estou dizendo que quero que todos os filho do menu fica horizontal */  
.menu ul li a { 
  display: inline-block; /* para não quebrar */
  font-size: 14pt; /* estou dizendo que todos os filho do menu que tem o a recebam isso */
  color: white;
  padding: 20px; /*tamanho dos item */
  text-decoration: none;}
.menu ul li a:hover { 
  background-color: #a6d44f; 
  transition: background.9s;}
.menu ul li:last-child a { 
  float: right;
  background-color: #5429CF; }

#apresentacao {
  padding: 15%;
  margin-top: 1%;
  margin-bottom: 1%;
  font-family: 'Press Start 2P', cursive;  
  color: white; }
#apresentacao2{
  font-family: 'Source Code Pro', monospace;
  color: #a6d44f;
  color-interpolation-filters: sRGB;}
#apresentacao3{
  text-align: center;
  font-size: 14pt;
  border-radius: 5%;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 13%;
  background-color: #5429CF;
  width: 120px;
  height: 50px;
  padding-top: 15px;}
#apresentacao3:hover{
  transition: background 1s;
  background-color: #a6d44f;}

#TituloSobreMim {
  margin-left: 40%;
  margin-bottom: 2%;}
#TituloSobreMim:hover{
  color: #a6d44f;}
#SobreMim {
  font-family: 'Source Code Pro', monospace;
  background-color: #202020;
  padding: 6%;
  margin-top: 2%;
  margin-bottom: 2%;
  color: white;
  display: inline-block }
#TxtSobreMim {
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;}
.container{
  display: flex;}

#Projetos {
  font-family: 'Source Code Pro', monospace;
  color: white;
  padding: 5%;
  margin-top: 2%;
  margin-bottom: 2%;}
#TituloProjetos {
  margin-right: 50%;
  margin-bottom: 5%;}
#TituloProjetos:hover{
  color: #a6d44f;}
#warc19  {
  height: 330px;
  width: 385px;
  background-color: #202020;
  display: inline-block;}
#warc19_0{
  margin-left: 7%;
  padding-top:  7%;
  font-size: 20pt;}
#warc19_1{
  margin-left: 4%;
  padding-top:  4%;
  margin: 5%;
  font-size: 12pt;}
#warc19_2{
    margin-left: 4%;
    padding-top:  4%;
    margin: 5%;
    font-size: 12pt;}
.warc19_3{
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-left: 70%;
  font-size: 14pt;
  display: inline-block;
  border-radius: 10px;}
.warc19_3-roxo{
  background: #5429CF;
  transition: background 1s;
  box-shadow: 0 1px 0 #350ea0 ;}
.warc19_3-roxo:hover {
  background: #a6d44f;
  color: black;
  box-shadow: 0 3px 0 #350ea0 ;}

.construcao{
  height: 330px;
  width: 370px;
  background-color: #202020;
  display: inline-block;}
.construcao_0{
  margin-left: 7%;
  padding-top:  2.7%;
  font-size: 20pt;}
.construcao_1{
  margin-left: 4%;
  padding-top:  4%;
  margin: 5%;
  font-size: 12pt;}
.construcao_2{
  margin-left: 4%;
  padding-top: 4%;
  margin: 5%;
  font-size: 12pt;}
.construcao_3{
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-left: 70%;
  font-size: 14pt;
  display: inline-block;
  border-radius: 10px;}


#Servicos{
  font-family: 'Source Code Pro', monospace;
  color: white;
  padding: 5%;
  padding-bottom: 10%;
  padding-top: 10%;
  background-color: #202020;}
#TituloServicos{
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 52%;}
#TituloServicos:hover{
  color:#a6d44f;}
#TxtServicos {
  margin-left: 50%;}
#imgservicos{
  width: 500px;}

/*CURSO*/
.cursos{
  font-family: 'Source Code Pro', monospace;
  color: white;
  padding: 5%;
  margin-top: 2%;
  margin-bottom: 2%;}
.TituloCursos{
  margin-right: 45%;
  margin-bottom: 1%;}
.TituloCursos:hover{
  color: #a6d44f;}
.curso01{
  height: 320px;
  width: 385px;
  background-color: #202020;
  margin-top: 1%;
  display: inline-block;}
.curso02{
  height: 320px;
  width: 385px;
  background-color: #202020;
  margin-top: 1%;
  display: inline-block;}
.curso03{
  height: 320px;
  width: 385px;
  background-color: #202020;
  margin-top: 1%;
  display: inline-block;}
.curso04{
height: 320px;
width: 385px;
background-color: #202020;
margin-top: 1%;
display: inline-block;}
.curso05{
height: 320px;
width: 385px;
background-color: #202020;
margin-top: 1%;
display: inline-block;}
.curso06{
height: 320px;
width: 385px;
background-color: #202020;
margin-top: 1%;
display: inline-block;}

.TituloCurso1{
  margin-left: 7%;
  padding-top:  5%;
  font-size: 20pt;}
.TxtCurso1{
  margin-left: 4%;
  margin: 5%;
  font-size: 12pt;}
.TxtCurso2{
  margin-left: 4%;
  margin: 5%;
  font-size: 12pt;}
.progresso{
  margin-left: 4%;}
.barra01 {
  margin-left: 4%;
  color:#a6d44f;
  background-color: #a6d44f;
  width: 25%;
  display: inline-block;}
.barra1{
margin-left: 4%;
color: #5429CF;
background-color: #5429CF;
width: 25%;
display: flex;}
.barra02 {
margin-left: 4%;
color:#a6d44f;
background-color: #a6d44f;
width: 12%;
display: inline-block;}
.barra03 {
margin-left: 4%;
color:#a6d44f;
background-color: #a6d44f;
width: 10%;
display: inline-block;}
.barra04 {
  margin-left: 4%;
  color:#a6d44f;
  background-color: #a6d44f;
  width: 10%;
  display: inline-block;}
.barra05 {
margin-left: 4%;
color:#a6d44f;
background-color: #a6d44f;
width: 8%;
display: inline-block;}
.barra06 {
  margin-left: 4%;
  color:#a6d44f;
  background-color: #a6d44f;
  width: 10%;
  display: inline-block;}
              




.curso_1{
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-left: 70%;
  font-size: 14pt;
  display: inline-block;
  border-radius: 10px;}
.curso_1-roxo{
  background: #5429CF;
  transition: background 1s;
  box-shadow: 0 1px 0 #350ea0 ;}
.curso_1-roxo:hover {
  background: #a6d44f;
  color: black;
  box-shadow: 0 3px 0 #350ea0 ;}
.vermais{
  background: #302f2f;
  color:#fff;
  font-size: 10pt;
  margin-left: 88%;
  margin-top: 2%;
  padding: 10px;
  border: none;
  border-radius:100px}
#back-to-top{
  position:fixed;
  right: 50px;
  bottom:50px;
  padding: 5px;
  border: none;
  border-radius:1px;
  background-color: #202020;
}
/*ENTRAR*/
.conteudo{
  background-color: #fff;
  padding:50px;}

.RODAPE { 
  position: absolute; /* POSIÇÃO DO RODAPE */	
  font-size: 15px; 	
  width: 100%;
  padding-bottom: 5%; 
 padding-top: 5%;	
  color: white; 	
  text-align: center;
  size: cover;
  background-color: #0D95BE; }
  


@media(max-width: 800px) {
nav {
  width: 0%; }
.menu ul li {
  display: none; }
.container {
 width: 100%;  }
.ieuaqui{
  display: none;}
.TxtSobreMim {
  width: 100%;}
#projetos{
  display: inline-block;}
.construcao{
  margin-top: 2%;
  margin-bottom: 2%;}
#imgservicos{
  display: none;}
#Servicos{
  size: cover;
  width: cover;}
}
@media(max-width:360px){
div#SobreMim{
  display: inline-block;
  padding-right: cover;
  margin-right: cover;
  color: #0D95BE;
  size: cover;
  display: inline-block;}
#TxtSobreMim{
  width: 50%;}
#TituloSobreMim{
  color:pink;
  margin-top:10%;
}
  .container{

  width: 100%;}
}

@media(max-width:568px) { /*1° TELA*/
#TituloSobreMim{
  margin-left: 10%;}
#TituloProjetos{
  margin-left: 10%;}

#TituloServicos{
  margin-left: 10%;}

.TituloCursos{
  margin-left: 10%;}

}