
.conteudo{
    padding: 5%;
    margin-left: 2%;
    margin-right:2%;
}

h1,h2,h3 {
    color: rgb(22, 56, 27);}

p {
    margin-bottom: 20px;}

li{
    list-style: none;
    margin-bottom: 5px;}
    
#portifolio{
    font-size:38pt}
